<!DOCTYPE html>
<html>
    <head>
		<title>Twister Spinner, NYE 2010</title>
		<link rel="stylesheet" type="text/css" href="/style.css" />
		<link rel="shortcut icon" href="/favicon.png" type="image/png">		
    </head>
    <body>
		<p class="text">
			<%= @side %> <%= @appendage %> <span class="<%= @colour %>"><%= @colour %></span>
		</p>
		
		<div id="imgcontainer">
			<img src="/<%= @side.downcase %><%= @appendage.downcase %>.png" width="256" height="256">
		</div>
		<div id="refresh"><a href="/">Spin Me</a></div>	
    </body>
</html>
