<!DOCTYPE html>
<html>
    <head>
		<title>Twister Spinner, NYE 2010</title>
		<link rel="stylesheet" type="text/css" href="/style.css" />
    </head>
    <body>
		<p class="text">
		<%= @side %> <%= @appendage %> <span class="<%= @colour %>"><%= @colour %></span><br>
		<img src="/<%= @side.downcase %><%= @appendage.downcase %>.png" width="256" height="256"><br>
		<a href="/">Spin Me</a>
		</p>
		
    </body>
</html>
